/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  width 100%
  max-width 600px !important

.home .hero .description
  color: #2c3e50 !important

.feature p, .footer
  color: #2c3e50 !important

.edit-link a
  color: #bebebe !important
  text-decoration: underline